{% extends "hisakata/base.html" %}

{% block content %}

    <h1>試合記録</h1>
    <button type="button" class="btn-link"><a href="{% url "hisakata:create" year %}">新規</a></button>
    <ul class="list-group">
        {% for date in dates %}
            {% if caution|get_item:forloop.counter0 %}
            <li class="list-group-item"><a href="{% url "hisakata:detail" date.date.year date.date.month date.date.day %}">{{ date.date.month }}月 {{ date.date.day }}日
                ({{ youbi|get_item:date.date.weekday }})</a>
            {% else %}
                <li class="list-group-item"><a href="{% url "hisakata:detail" date.date.year date.date.month date.date.day %}">{{ date.date.month }}月 {{ date.date.day }}日
                ({{ youbi|get_item:date.date.weekday }}) <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></a>
            {% endif %}
            </li>

        {% endfor %}
    </ul>
    <button type="button" class="btn-link"><a href="{% url "hisakata:yearlist" %}">戻る</a></button>
{% endblock %}