{% extends "hisakata/base.html" %}

{% block title %}Hisakata | Detail{% endblock %}

{% block content %}

    <div class="container">
        {{ error_message }}
        <form class="form-group" method="post" action="{% url 'hisakata:create' year month %}">
            {% csrf_token %}
            <label>日付 :<input type="date" name="date" min="{{ year }}-01-01" max="{{ year }}-12-31"></label>

            <button type="submit" class="btn btn-primary">save</button>
        </form>

        <a class="btn btn-default" href="{% url "hisakata:datelist" year month %}">戻る</a>
    </div>

{% endblock %}