{% extends "hisakata/base.html" %}

{% block title %}Hisakata | Detail{% endblock %}

{% block content %}

    <div class="container">
        <h1>{{ year }}年{{ month }}月</h1>
        <div class="list-group">
            {% for date in dates %}
                {% if caution|get_item:forloop.counter0 %}
                    <a class="list-group-item"
                       href="{% url "hisakata:detail" date.date.year date.date.month date.date.day %}">{{ date.date.month }}月 {{ date.date.day }}日
                        ({{ youbi|get_item:date.date.weekday }})</a>
                {% else %}
                    <a class="list-group-item"
                       href="{% url "hisakata:detail" date.date.year date.date.month date.date.day %}">{{ date.date.month }}月 {{ date.date.day }}日
                        ({{ youbi|get_item:date.date.weekday }}) <span class="glyphicon glyphicon-exclamation-sign"
                                                                       aria-hidden="true"></span></a>
                {% endif %}


            {% endfor %}
        </div>

        <a class="btn btn-primary" href="{% url "hisakata:create" year %}">新規</a>
        <a class="btn btn-default" href="{% url "hisakata:monthlist" year %}">戻る</a>

    </div>

{% endblock %}