{% extends "hisakata/base.html" %}

{% block title %}Hisakata | Player{% endblock %}

{% block content %}

    <h1>名簿</h1>

    <ul class="nav nav-tabs">
        {% if grade == 0 %}
            <li role="presentation" class="active"><a href="{% url "hisakata:player" 0 %}">未登録</a></li>
            <li role="presentation"><a href="{% url "hisakata:player" 1 %}">新入生</a></li>
            <li role="presentation"><a href="{% url "hisakata:player" 2 %}">2年生</a></li>
            <li role="presentation"><a href="{% url "hisakata:player" 3 %}">3年生</a></li>
            <li role="presentation"><a href="{% url "hisakata:player" 4 %}">4年生</a></li>
            <li role="presentation"><a href="{% url "hisakata:player" 5 %}">院生・社会人</a>
            <li role="presentation"><a href="{% url "hisakata:player" 6 %}">ゲスト</a></li>
        {% elif grade == 1 %}
            <li role="presentation"><a href="{% url "hisakata:player" 0 %}">未登録</a></li>
            <li role="presentation" class="active"><a href="{% url "hisakata:player" 1 %}">新入生</a></li>
            <li role="presentation"><a href="{% url "hisakata:player" 2 %}">2年生</a></li>
            <li role="presentation"><a href="{% url "hisakata:player" 3 %}">3年生</a></li>
            <li role="presentation"><a href="{% url "hisakata:player" 4 %}">4年生</a></li>
            <li role="presentation"><a href="{% url "hisakata:player" 5 %}">院生・社会人</a>
            <li role="presentation"><a href="{% url "hisakata:player" 6 %}">ゲスト</a></li>
        {% elif grade == 2 %}
            <li role="presentation"><a href="{% url "hisakata:player" 0 %}">未登録</a></li>
            <li role="presentation"><a href="{% url "hisakata:player" 1 %}">新入生</a></li>
            <li role="presentation" class="active"><a href="{% url "hisakata:player" 2 %}">2年生</a></li>
            <li role="presentation"><a href="{% url "hisakata:player" 3 %}">3年生</a></li>
            <li role="presentation"><a href="{% url "hisakata:player" 4 %}">4年生</a></li>
            <li role="presentation"><a href="{% url "hisakata:player" 5 %}">院生・社会人</a>
            <li role="presentation"><a href="{% url "hisakata:player" 6 %}">ゲスト</a></li>
        {% elif grade == 3 %}
            <li role="presentation"><a href="{% url "hisakata:player" 0 %}">未登録</a></li>
            <li role="presentation"><a href="{% url "hisakata:player" 1 %}">新入生</a></li>
            <li role="presentation"><a href="{% url "hisakata:player" 2 %}">2年生</a></li>
            <li role="presentation" class="active"><a href="{% url "hisakata:player" 3 %}">3年生</a></li>
            <li role="presentation"><a href="{% url "hisakata:player" 4 %}">4年生</a></li>
            <li role="presentation"><a href="{% url "hisakata:player" 5 %}">院生・社会人</a>
            <li role="presentation"><a href="{% url "hisakata:player" 6 %}">ゲスト</a></li>
        {% elif grade == 4 %}
            <li role="presentation"><a href="{% url "hisakata:player" 0 %}">未登録</a></li>
            <li role="presentation"><a href="{% url "hisakata:player" 1 %}">新入生</a></li>
            <li role="presentation"><a href="{% url "hisakata:player" 2 %}">2年生</a></li>
            <li role="presentation"><a href="{% url "hisakata:player" 3 %}">3年生</a></li>
            <li role="presentation" class="active"><a href="{% url "hisakata:player" 4 %}">4年生</a></li>
            <li role="presentation"><a href="{% url "hisakata:player" 5 %}">院生・社会人</a>
            <li role="presentation"><a href="{% url "hisakata:player" 6 %}">ゲスト</a></li>
        {% elif grade == 5 %}
            <li role="presentation"><a href="{% url "hisakata:player" 0 %}">未登録</a></li>
            <li role="presentation"><a href="{% url "hisakata:player" 1 %}">新入生</a></li>
            <li role="presentation"><a href="{% url "hisakata:player" 2 %}">2年生</a></li>
            <li role="presentation"><a href="{% url "hisakata:player" 3 %}">3年生</a></li>
            <li role="presentation"><a href="{% url "hisakata:player" 4 %}">4年生</a></li>
            <li role="presentation" class="active"><a href="{% url "hisakata:player" 5 %}">院生・社会人</a>
            <li role="presentation"><a href="{% url "hisakata:player" 6 %}">ゲスト</a></li>
        {% elif grade == 6 %}
            <li role="presentation"><a href="{% url "hisakata:player" 0 %}">未登録</a></li>
            <li role="presentation"><a href="{% url "hisakata:player" 1 %}">新入生</a></li>
            <li role="presentation"><a href="{% url "hisakata:player" 2 %}">2年生</a></li>
            <li role="presentation"><a href="{% url "hisakata:player" 3 %}">3年生</a></li>
            <li role="presentation"><a href="{% url "hisakata:player" 4 %}">4年生</a></li>
            <li role="presentation"><a href="{% url "hisakata:player" 5 %}">院生・社会人</a>
            <li role="presentation" class="active"><a href="{% url "hisakata:player" 6 %}">ゲスト</a></li>
        {% endif %}

    </ul>

    <p></p>
    <form class="form-group" method="post" action="{% url 'hisakata:player' grade %}">
        {% csrf_token %}

        {% for player in players %}
            <div class="form-inline">
                <div class="form-group">
                    <input class="form-control" type="text" name="name" value="{{ player }}">
                    <select class="form-control" name="grade">
                        {% if grade == 0 %}
                            <option value=0 selected>{{ gradename|get_item:0 }}</option>
                            <option value=1>{{ gradename|get_item:1 }}</option>
                            <option value=2>{{ gradename|get_item:2 }}</option>
                            <option value=3>{{ gradename|get_item:3 }}</option>
                            <option value=4>{{ gradename|get_item:4 }}</option>
                            <option value=5>{{ gradename|get_item:5 }}</option>
                            <option value=6>{{ gradename|get_item:6 }}</option>
                        {% elif grade == 1 %}
                            <option value=0>{{ gradename|get_item:0 }}</option>
                            <option value=1 selected>{{ gradename|get_item:1 }}</option>
                            <option value=2>{{ gradename|get_item:2 }}</option>
                            <option value=3>{{ gradename|get_item:3 }}</option>
                            <option value=4>{{ gradename|get_item:4 }}</option>
                            <option value=5>{{ gradename|get_item:5 }}</option>
                            <option value=6>{{ gradename|get_item:6 }}</option>
                        {% elif grade == 2 %}
                            <option value=0>{{ gradename|get_item:0 }}</option>
                            <option value=1>{{ gradename|get_item:1 }}</option>
                            <option value=2 selected>{{ gradename|get_item:2 }}</option>
                            <option value=3>{{ gradename|get_item:3 }}</option>
                            <option value=4>{{ gradename|get_item:4 }}</option>
                            <option value=5>{{ gradename|get_item:5 }}</option>
                            <option value=6>{{ gradename|get_item:6 }}</option>
                        {% elif grade == 3 %}
                            <option value=0>{{ gradename|get_item:0 }}</option>
                            <option value=1>{{ gradename|get_item:1 }}</option>
                            <option value=2>{{ gradename|get_item:2 }}</option>
                            <option value=3 selected>{{ gradename|get_item:3 }}</option>
                            <option value=4>{{ gradename|get_item:4 }}</option>
                            <option value=5>{{ gradename|get_item:5 }}</option>
                            <option value=6>{{ gradename|get_item:6 }}</option>
                        {% elif grade == 4 %}
                            <option value=0>{{ gradename|get_item:0 }}</option>
                            <option value=1>{{ gradename|get_item:1 }}</option>
                            <option value=2>{{ gradename|get_item:2 }}</option>
                            <option value=3>{{ gradename|get_item:3 }}</option>
                            <option value=4 selected>{{ gradename|get_item:4 }}</option>
                            <option value=5>{{ gradename|get_item:5 }}</option>
                            <option value=6>{{ gradename|get_item:6 }}</option>
                        {% elif grade == 5 %}
                            <option value=0>{{ gradename|get_item:0 }}</option>
                            <option value=1>{{ gradename|get_item:1 }}</option>
                            <option value=2>{{ gradename|get_item:2 }}</option>
                            <option value=3>{{ gradename|get_item:3 }}</option>
                            <option value=4>{{ gradename|get_item:4 }}</option>
                            <option value=5 selected>{{ gradename|get_item:5 }}</option>
                            <option value=6>{{ gradename|get_item:6 }}</option>
                        {% elif grade == 6 %}
                            <option value=0>{{ gradename|get_item:0 }}</option>
                            <option value=1>{{ gradename|get_item:1 }}</option>
                            <option value=2>{{ gradename|get_item:2 }}</option>
                            <option value=3>{{ gradename|get_item:3 }}</option>
                            <option value=4>{{ gradename|get_item:4 }}</option>
                            <option value=5>{{ gradename|get_item:5 }}</option>
                            <option value=6 selected>{{ gradename|get_item:6 }}</option>
                        {% endif %}
                    </select>
                </div>
            </div>

        {% endfor %}


        <button type="submit" class="btn btn-primary">save</button>
        <br>
    </form>
{% endblock %}